@{
    ViewBag.Title = "About";

}
<h2>About us</h2>
<h4>
    This is website is custom website to record your trip information.
    Can search your trips using Angular Js and can see locations on map.
</h4>
