<div>
    <div>
        <a href="#/" class="btn btn-sm btn-default">
            <i class="fa fa-angle-left"></i>Back
        </a>
    </div>
    <div class="col-md-3">
        <h3>{{vm.tripName}}</h3>
        <wait-cursor display-when="vm.isBusy"></wait-cursor>
        <div class="alert alert-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
        <form novalidate name="newStopForm" ng-submit="vm.addStop()">
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" id="arrival" name="arrival" 
                       ng-model="vm.newStop.arrival" 
                       required 
                       ng-pattern="/^(((0[1-9]|[12]\d|3[01])\/(0[13578]|1[02])\/((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\/(0[13456789]|1[012])\/((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\/02\/((19|[2-9]\d)\d{2}))|(29\/02\/((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$/g;"/>
                <span class="text-danger" ng-show="newStopForm.arrival.$error.required">Required</span>
                <span class="text-danger" ng-show="newStopForm.arrival.$error.pattern">Must be in the format of "MM/DD/YYYY"</span>
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" id="name" name="name" ng-model="vm.newStop.name" required ng-minlength="" />
                <span class="text-danger" ng-show="newStopForm.name.$error.required">Required</span>
                <span class="text-danger" ng-show="newStopForm.name.$error.minlength">Must be 5 characters or more.</span>
            </div>
            <div><input type="submit" value="Add" class="btn btn-primary btn-md" ng-disabled="newStopForm.$invalid" /></div>
        </form>
        <table class="table table-responsive table-striped">
            <tr>
                <th>Location</th>
                <th>Arrival</th>
            </tr>
            <tr><td colspan="2"><input ng-model="searchText" placeholder="search location here!" /></td></tr>
            <tr ng-repeat="stop in vm.stops|filter:searchText">
                <td>{{stop.name}}</td>
                <td>{{stop.arrival | date:shortDate}}</td>
            </tr>
        </table>
  
    </div>
        <div class="col-md-9">
            <h2>The Map</h2>
            <!--  razor code is not needed in angular<ul>
                @foreach (var item in Model)
                {
                <li>@item.Name</li>
                }
            </ul>-->
            <div id="map">

            </div>
        </div>
    </div>